body{
	padding: 0px;
	margin: 0px;
}

div.verticalCenter {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

div.mainContentPage{
	min-height: 100%;
}

div.mainContentPageTitle{
	margin-bottom: 8px;
}

div.bottomNavContent{
	position: absolute;
	bottom: 10px;
}

span.mainContentPageTitleSpan{
	font-size: 3.2em;
	font-weight: bold;
}

span.myCitationName{
	font-weight: bold;
	font-style: italic;
}

p.mainContentPageParagraph{
	margin-top: 5px;
	font-size: 1.2em;
}

a.nav-link{
	font-size: 1.5em;

	color: rgba(255,255,255,0.6);
}

a.external-nav-link{
	font-size: 1.2em;

	color: rgba(255,255,255,0.6);
}

img.external-nav-link-image{
	display: none;
}

nav#mainNavBar{
	background: #bd5d38;
}

div#mainContent{
	width: 100%;

	padding-left: 0px;
}

div#avatarContainer{
	text-align: center;
}

/**

Desktop specific class

**/
@media (min-width: 992px){

div.publicationTitleContainers{
	font-size: 1em;
	font-weight: bold;
}

ul.navbar-nav{
	width: 100%;

	flex-direction: column !important;
}

li.nav-item{
	margin: auto;
}

li.external-nav-item{
	position: absolute;
	bottom: 20px;
}

a.active{
	color: rgba(255,255,255,1.0);
}

img.external-nav-link-image{
	display: block;
	position: absolute;

	bottom: 25px;
	left: 8px;
	width: 40px;

	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

	cursor: pointer;
}

nav#mainNavBar{
	position: fixed;
	top: 0px;
	left: 0px;

	height: 100%;
	width: 300px;

	background: #bd5d38;
	border-right: 5px solid #d69176;
}

li#external-nav-item-1{
	position: absolute;

	left: calc(25% - 30px);
}

li#external-nav-item-2{
	position: absolute;

	left: calc(50% - 30px);
}

li#external-nav-item-3{
	position: absolute;

	left: calc(75% - 30px);
}

div#mainContent{
	padding-left: 300px;
}

img#avatar{
	position: relative;
	left: 15%;

	width: 70%;
	margin-left: 10%;

	border: 8px solid black;
	border-color: #d69176;
}

}
