<html>
	<head>
		<title>Clayton Feustel</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">

		<link href="/static/css/mainStyle.css" rel="stylesheet" />
		<link href="/static/css/bootstrap.min.css" rel="stylesheet" />

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="/static/js/bootstrap.min.js"></script>
		<script>

		</script>
	</head>
	<body data-spy="scroll" data-target="#mainNavBar">
		<nav id="mainNavBar" class="navbar navbar-dark navbar-expand-lg fixed-top">
			<div class="mainNavContent">
				<a class="navbar-brand js-scroll-trigger" href="#page-top">
					<span class="d-block d-lg-none">Clayton Feustel</span>
					<span class="d-none d-lg-block">
						<img id="avatar" class="img-fluid img-profile rounded-circle mx-auto mb-2" src="/static/images/selfie_iceland.jpg" alt="">
					</span>
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav">
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#aboutPage">About</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#publicationPage">Publications</a>
						</li>
						<li class="nav-item">
							<a class="nav-link js-scroll-trigger" href="#cvPage">CV</a>
						</li>

						<li class="item-spacer"></li>

						<li id="external-nav-item-1" class="external-nav-item">
							<div class="external-link-container">
									<a class="external-nav-link" href="https://github.com/clayton-feustel">github</a>
									<img class="external-nav-link-image" src="/static/images/github_icon.png" onclick="location.href='https://github.com/clayton-feustel'" />
							</div>
						</li>
						<li id="external-nav-item-2" class="external-nav-item">
							<div class="external-link-container">
								<a class="external-nav-link" href="https://www.linkedin.com/in/clayton-feustel/">linkdn</a>
								<img class="external-nav-link-image" src="/static/images/linkedin_icon.png" onclick="location.href='https://www.linkedin.com/in/clayton-feustel'" />
							</div>
						</li>
						<li id="external-nav-item-3" class="external-nav-item">
							<div class="external-link-container">
								<a class="external-nav-link" href="https://scholar.google.com/citations?user=fOzogrIAAAAJ&hl=en">scholar</a>
								<img class="external-nav-link-image" src="/static/images/scholar_icon.png" onclick="location.href='https://scholar.google.com/citations?user=fOzogrIAAAAJ&hl=en'" />
							</div>
						</li>
					</ul>
				</div>
			</div>
		</nav>

		<div id="mainContent" class="container">
			<div id="aboutPage" class="mainContentPage verticalCenter">
				<div class="container">
					<div class="mainContentPageTitle"><span class="mainContentPageTitleSpan">About</span></div>

					<div class="mainContentPageContent">
						<p class="mainContentPageParagraph">I am a Computer Science PhD student working in the Health Experience and Applications Lab, led by Dr. Lauren Wilcox. I have a Master's Degree in Computer Science from Georgia Tech with a specialization in human-Computer Interaction.</p>

						<p class="mainContentPageParagraph">My Interests lie at the intersection of ubiquitous computing and health informatics. In the broadest sense, my work has centered on building and understanding applications that promote wellness. In the clinical setting, I have investigated design consideration for the presentation of readiology reports to adolescents through the deployment of a fully functional prototype. In the non-clinical setting, I have been a part of a campus-wide initiative, Campus Life, to collect large-scale data on Georgia Tech students' physical, social, and psychological health. In addition to assisting in the deployment of the Campus Life study, I have used this large-scale health data to explore how the presentation of aggregate data (i.e. physical activity of all males) affects individuals in their self-reflection process.</p>

						<p class="mainContentPageParagraph">Recently, my investigations into the presentation of heath data to promote wellness has taken me towards the built environment. The built environment has a significant impact on a person's health behavior. To form a more complete picture of an individual's health, I am exploring the ways that applications can take into consideration the health activities afforded by the environments that individuals occupy.</p>
					</div>
				</div>
			</div>
			<div id="publicationPage" class="mainContentPage verticalCenter">
				<div class="container">
					<div class="mainContentPageTitle"><span class="mainContentPageTitleSpan">Publications</span></div>

					<div class="mainContentPageContent">
						{% for publication in data.get("publications", []) %}

							<div class="publicationContainer">
								<div class="publicationIconContainer"></div>
								<div class="publicationTitleContainers">{{ publication.get('publication', {}).get('publicationTitle', '') }}</div>
								<div class="publicationContentContainer">
									<p class="citation">
									{% for author in publication.get('authors', []) %}
										{% if author.get("authorFirstName", '').lower() == "clayton" and author.get("authorLastName", '').lower() == "feustel" %}
											<span class="myCitationName">{{ author.get('authorFirstName', '') }} {{ author.get('authorLastName', '') }}</span>
										{% else %}
											{{ author.get('authorFirstName', '') }} {{ author.get('authorLastName', '') }}
										{% endif %}
										,
									{% endfor %}
									{{ publication.get('publication', {}).get('publicationTitle', '') }}. {{ publication.get('platform', {}).get('platformTitle', '') }} ({{ publication.get('platform', {}).get('platformAbrevation') }} {{ publication.get('conference', {}).get('conferenceEndDate', "").year }}), {{ publication.get('conference', {}).get('conferenceCity', "") }}, {{ publication.get('conference', {}).get('conferenceCountry', '') }}.
								{% if publication.get('conference', {}).get('conferenceAcceptance', None) != None %}
									({{ (publication.get('conference', {}).get('conferenceAcceptance', 0.0)*100)|round|int }}% acceptance rate)
								{% endif %}</p></div>
								<div class="publicationLinkContainer"><a target="_blank" class="publicationACM publicationLink" href="{{ publication.get('publication', {}).get('publicationWebLink', '') }}">{{ publication.get('publication', {}).get('publicationWebSource', '') }}</a>
								{% if publication.get('publication', {}).get('publicationPdfLink', None) != None %}
									<a target="_blank" class="publicationDonwload publicationLink" href="{{ publication.get('publication', {}).get('publicationPdfLink', '') }}">Download</a></div>
								{% endif %}
								{% if publication.get('publication', {}).get('publicationSlideLink', None) != None %}
									<!-- container for slides go here -->
								{% endif %}
							</div>

						{% endfor %}
					</div>
				</div>
			</div>

			<div id="cvPage" class="mainContentPage verticalCenter">
				<iframe src="/static/misc_content/Feustel_CV.pdf" width="100%" height="80%">
	 			</iframe>
			</div>
		</div>
	</body>
</html>
